@import "tailwindcss";


@layer components {

  .btn-brand {
    @apply inline-flex items-center gap-2 rounded-xl px-4 py-2 text-sm font-medium
           text-white shadow-sm transition
           bg-gradient-to-r from-indigo-600 to-violet-600 hover:from-indigo-700 hover:to-violet-700
           active:scale-[.99];
  }
}

